.navbar {
  border: 1px solid #000000;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  height: 2%;
  align-items: center;

  background-color: white;
  padding: 12px 10px;
}

.navbar-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
}
