.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1000;
  background-color: white;
  padding-right: 1%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(152, 152, 152, 0.1);
}

.navbar-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  position: relative;
}

.navbar-link {
  font-size: 20px;
  color: black;
}

.navbar-link-active {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
