@import "styles-index";

.about-page-card {
  background-color: $main-background-color;
  margin-top: 5%;
  margin: 10px auto;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1);
  padding: 20px;

  .about-page-paragraph {
    gap: 20px;
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px));

    .card-container {
      box-shadow: 1px 1px 11px rgba(31, 58, 72, 0.3);
      padding: 10px;
      margin: 0 auto;

      .title {
        margin-bottom: 0px;
        padding-left: 50px;
        font-size: 20px;
      }

      .card {
        position: relative;
        padding: 10px;

        .paragraph {
          padding: 5px 5px;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          text-align: left;
          transition: transform 0.3s ease;
          cursor: pointer;
        }
      }
    }
  }

  .container-topbar {
    height: 60px;
    margin-bottom: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
