@import "styles-index";

.event-card-large {
  box-shadow: 1px 1px 11px rgba(31, 58, 72, 0.3);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  gap: 10px;

  .image-and-description {
    min-width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 10px;

    .description {
      p {
        font-size: 15px;
        padding: 30px;
      }
      border: 0.5px solid black;
    }

    .image {
      object-fit: cover;
      margin: 0 auto;
      height: 40vh;
      max-width: 50%;
    }
  }

  .topbar {
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 30px;

    .event-card-large-topbar-back-button {
      font-size: 15px;
    }

    .title {
      margin: 0px;
      font-size: 25px;
    }
  }

  .details-container {
    width: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    .details-top {
      p {
        margin: 0px;

        padding: 10px;
        background-color: rgb(236, 236, 236);
      }
      gap: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .details-bottom {
      p {
        margin: 0px;
        padding: 10px;
        background-color: rgb(236, 236, 236);
      }

      gap: 10px;

      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .watch-button-container {
      button {
        border: 1px solid black;
        width: 100%;
      }
      #watch-button {
        width: 110%;
      }
      display: flex;
      gap: 10px;
    }
  }
}
