.event-card-small {
  width: 100%;
  height: 450px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  border: 1px solid rgb(202, 202, 202);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    border: 1px solid rgb(152, 152, 152);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    .image {
      transform: scale(1.005);
      transition: transform 0.3s ease-in;
    }

    .details {
      overflow: hidden;
      .default-view {
        display: none;
      }

      .hover-view {
        display: block;
        margin-top: -25px;
      }
    }
  }

  .image-container {
    .watch-button,
    .watch-button-watched {
      position: absolute;
      right: 5%;
      bottom: 67%;
      font-size: small;
      border-radius: 20px;
      height: 30px;
      width: 80px;
      justify-content: center;
    }

    .free-icon {
      position: absolute;
      right: 8%;
      background-color: rgb(78, 234, 138);
      font-size: small;
      border-radius: 20px;
      height: 20px;
      width: 50px;
      justify-content: center;
    }
  }
  .image {
    border: 2px solid rgb(73, 73, 73);
    background-size: cover;
    border-radius: 8px;
    width: 100%;
    height: 160px;
    background-position: center;
    margin-bottom: 20px;
  }

  .details {
    border: 1px solid rgba(202, 202, 202, 0.46);
    border-radius: 10px;
    position: relative;
    top: 0%;
    .title {
      font-size: 1.3rem;
      color: #000;
      margin-top: 10px;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .hover-view {
      display: none;
    }

    .type-and-time-container {
      position: relative;
      margin-top: px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      p {
        padding: 1px;
        text-align: center;
      }
    }
    .date {
      font-size: 0.9rem;
      color: #777;
      text-align: center;
    }

    .description {
      font-size: 15px;
      text-align: left;
      margin-top: 10%;
      padding-left: 10%;
      padding-right: 10%;
    }

    .type {
      .social {
        border: 1px solid #c2c2c2;
        background-color: #c4fff3;
        color: #000000;
        border-radius: 20px;
        margin-left: 20%;
      }
      .music {
        background-color: #e2ffe0;
        border: 1px solid #c2c2c2;

        color: #777;
        border-radius: 20px;
        margin-left: 20%;
      }
      .education {
        background-color: #fff6e0;
        border: 1px solid #c2c2c2;
        color: #777;
        border-radius: 20px;
        margin-left: 20%;
      }
      .comedy {
        background-color: #e0f2ff;
        border: 1px solid #c2c2c2;
        color: #777;
        border-radius: 20px;
        margin-left: 20%;
      }
    }

    .time {
      width: 60%;
      color: #000000;
      background-color: #eaeaea;
      border-radius: 5px;
      margin-left: 20%;
    }
  }

  .button-container {
    width: 94%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 3%;
    bottom: 13px;

    .button {
      position: relative;
      left: 5%;
      height: 60px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a9a9a9;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 6px;
      margin-bottom: 2px;
      margin-top: 2px;
      transition: background-color 0.3s ease;
      text-align: center;
    }

    .watch-button-unwatched {
      position: relative;
      left: 5%;
      height: 60px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a9a9a9;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 6px;
      margin-bottom: 2px;
      margin-top: 2px;
      transition: background-color 0.3s ease;
      text-align: center;
      &:hover {
        background-color: #56565662;
        color: black;
        transform: scale(1.01);
      }
    }

    .watch-button-watched {
      position: relative;
      left: 5%;
      height: 60px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a9a9a9;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 6px;
      margin-bottom: 2px;
      margin-top: 2px;
      transition: background-color 0.3s ease;
      text-align: center;
      background-color: #d5d5d5;
      color: green;
    }
    .buy-button {
      .sold-out {
        text-decoration: line-through;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
      }
      &:hover {
        background-color: #68ff6d62;
        transform: scale(1.01);
      }
    }
  }
}

.event-card-small:hover {
  transform: scale(1.005);
}
