@import "styles-index";

.events-grid-container {
  background-color: $main-background-color;
  padding: 20px 20px 30px;
  width: 100%;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1),
    0 10px 10px rgba(152, 152, 152, 0.1);
  display: grid;

  .container-topbar {
    h2 {
      font-size: 30px;
      position: relative;
    }
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  #events-grid {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
  }
}
