.event-card-small {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}
.event-card-small:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.event-card-small:hover .type-and-time-container,
.event-card-small:hover .free-icon {
  position: relative;
  z-index: 10;
}
.event-card-small:hover .image {
  transform: scale(0.97);
  transition: transform 1.5s ease;
  z-index: 7;
}
.event-card-small:hover .details {
  overflow: hidden;
  transform: scale(1.01);
  transition: transform 0.3s ease;
}
.event-card-small:hover .details .default-view {
  display: none;
}
.event-card-small:hover .details .hover-view {
  display: block;
}
.event-card-small .image-container .type-and-time-container {
  position: absolute;
  left: 4%;
}
.event-card-small .image-container .type-and-time-container .type p {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.event-card-small .image-container .type-and-time-container .type .social {
  color: #000000;
  background-color: #c4fff3;
  border-radius: 5px;
}
.event-card-small .image-container .type-and-time-container .type .music {
  background-color: #e2ffe0;
  color: #000000;
  border-radius: 5px;
}
.event-card-small .image-container .type-and-time-container .type .education {
  background-color: #fff6e0;
  color: #000000;
  border-radius: 5px;
}
.event-card-small .image-container .type-and-time-container .type .comedy {
  background-color: #e0f2ff;
  color: #000000;
  border-radius: 5px;
}
.event-card-small .image-container .type-and-time-container .time {
  width: 60%;
  color: #000000;
  background-color: #eaeaea;
  border-radius: 5px;
  margin-left: 20%;
}
.event-card-small .image-container .free-icon {
  position: absolute;
  right: 8%;
  background-color: rgb(59, 255, 134);
  font-size: small;
  border-radius: 12px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}
.event-card-small .image {
  background-size: cover;
  width: 100%;
  height: 160px;
  background-position: center;
  margin-bottom: 20px;
}
.event-card-small .details {
  position: relative;
  top: 0%;
}
.event-card-small .details .title {
  padding: 1px;
  font-size: 1.3rem;
  color: #000;
  margin-top: 10px;
  text-align: center;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-card-small .details .hover-view {
  display: none;
}
.event-card-small .details .date {
  font-size: 0.9rem;
  color: #000000;
  text-align: center;
}
.event-card-small .details .description {
  font-size: 12px;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
.event-card-small .button-container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  position: absolute;
  bottom: 0px;
}
.event-card-small .button-container .button {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  text-align: center;
  border-radius: 0px;
  background-color: #d5d5d5;
  color: rgb(0, 0, 0);
}
.event-card-small .button-container .button:hover {
  border: 0.5px solid black;
}
.event-card-small .button-container .watch-button, .event-card-small .button-container .watch-button-unwatched, .event-card-small .button-container .watch-button-watched {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  text-align: center;
  border-radius: 0px;
  border: 1px solid black;
}
.event-card-small .button-container .watch-button-watched {
  border-radius: 0px;
  border: 0.5px solid black;
  background-color: rgba(86, 86, 86, 0.3843137255);
  color: black;
}
.event-card-small .button-container .watch-button-unwatched {
  border: 0.5px solid transparent;
  background-color: #d5d5d5;
  color: rgb(0, 0, 0);
}
.event-card-small .button-container .watch-button-unwatched:hover {
  border: 0.5px solid black;
}
.event-card-small .button-container .buy-button {
  border-radius: 0px;
  background-color: rgba(104, 255, 109, 0.3843137255);
  margin-bottom: 2px;
  margin-top: 2px;
  box-sizing: border-box;
}
.event-card-small .button-container .buy-button .sold-out {
  text-decoration: line-through;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.event-card-small .button-container .buy-button:hover {
  background-color: rgba(104, 255, 109, 0.3843137255);
  border: 1px solid #515151;
}

.event-card-small:hover {
  transform: scale(1.005);
}

/*# sourceMappingURL=EventCardSmall.css.map */
