:root {
  font-family: "IBMPlexMono-Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoolightg: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page-card {
  border: 1px solid rgba(61, 61, 61, 0.109);
  border-radius: 20px;
  width: 95%;
  position: relative;
  left: 1%;
  right: 1%;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1);
  padding: 20px;
}
.about-page-card .about-page-paragraph {
  gap: 20px;
  position: relative;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(130, 130, 130, 0.409);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.about-page-card .container-topbar {
  font-size: 12px;
}

body {
  font-family: "IBMPlexMono-Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.login-title {
  width: 80%;
  position: relative;
  margin-top: 10%;
  left: 10%;
}

.login-container {
  border: 1px solid rgba(61, 61, 61, 0.109);
  width: 50%;
  position: relative;
  left: 25%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.paragraph {
  position: relative;
  width: 95%;
  left: 2.5%;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.main-content {
  gap: 60px;
  width: 98%;
  min-height: 90vh;
  position: absolute;
  padding: 20px;
  top: 6%;
  left: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.container-topbar {
  border: 1px solid rgba(61, 61, 61, 0.109);
  gap: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.events-grid-container {
  border: 1px solid rgba(61, 61, 61, 0.109);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 30px;
  width: 95%;
  position: relative;
  left: 1%;
  right: 1%;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1), 0 10px 10px rgba(152, 152, 152, 0.1);
  display: grid;
}
.events-grid-container .container-topbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.events-grid-container #events-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.events-grid-container #title {
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(130, 130, 130, 0.5);
}

.event-card-large {
  border: 1px solid rgba(61, 61, 61, 0.109);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.event-card-large-image {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.event-card-large-topbar {
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
}

.new-event-panel {
  border: 1px solid rgba(61, 61, 61, 0.109);
  display: grid;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#new-event-form {
  border: 1px solid black;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

#new-event-form label {
  font-size: 16px;
}

#new-event-form input[type=text],
#new-event-form input[type=date],
#new-event-form input[type=time],
#new-event-form textarea,
#new-event-form input[type=url] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}

#new-event-form input[type=checkbox] {
  margin-right: 10px;
  position: relative;
  right: 1%;
}

#new-event-form button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-event-card {
  border: 1px solid rgb(0, 0, 0);
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

#my-events {
  border: 1px solid rgba(61, 61, 61, 0.109);
}

#buy-ticket-form {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(247, 247, 247, 0.917);
  position: fixed;
  z-index: 1000;
}

#logout-bar {
  border: 1px solid black;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.event-card-large-details-container {
  border: 1px solid rgba(61, 61, 61, 0.109);
}

.event-card-large-description {
  border: 1px dotted rgba(61, 61, 61, 0.109);
}

.event-card-large-details-top {
  border: 1px solid rgba(61, 61, 61, 0.109);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-card-large-details-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px dashed rgba(61, 61, 61, 0.109);
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../../assets/fonts/IBMPlexMono-Regular.otf") format("opentype");
}
@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../../assets/fonts/IBMPlexMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../../assets/fonts/IBMPlexMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../../assets/fonts/IBMPlexMono-Light.ttf") format("truetype");
}

/*# sourceMappingURL=index.css.map */
