:root {
  font-family: "IBMPlexMono-Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  box-sizing: border-box;
}
html p,
body p {
  font-size: 1.3em;
  line-height: 1.5;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #213547;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #213547;
}

.paragraph {
  position: relative;
  width: 95%;
  left: 2.5%;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d5d5d5;
  cursor: pointer;
}
button:hover {
  background-color: #c5c5c5;
}

.button-sold-out {
  text-decoration: line-through;
}
.button-sold-out:hover {
  background-color: #d5d5d5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
}
.login-container {
  position: relative;
  top: 10vh;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.login-container .header {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.login-container .login-form .text-boxes {
  border: 1px solid black;
}
.login-container .login-form input {
  width: 50%;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  margin: 11px;
}
.login-container .login-form button {
  width: 100%;
}

.main-content {
  gap: 10px;
  width: 100%;
  position: absolute;
  left: 0%;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
}

.new-event-panel {
  border: 1px solid rgba(61, 61, 61, 0.109);
  display: grid;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#new-event-form {
  border: 1px solid black;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
#new-event-form label {
  font-size: 16px;
}
#new-event-form input[type=text],
#new-event-form input[type=date],
#new-event-form input[type=time],
#new-event-form textarea,
#new-event-form input[type=url] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}
#new-event-form input[type=checkbox] {
  margin-right: 10px;
  position: relative;
  right: 1%;
}
#new-event-form button {
  padding: 0.6em 1.2em;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-event-card {
  border: 1px solid rgb(0, 0, 0);
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

#buy-ticket-form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f9f9f9;
  position: fixed;
  z-index: 1000;
}

@media (any-pointer: coarse) {
  .login-container {
    position: relative;
    padding-top: 0vh;
    top: 0vh;
  }
  .about-page-card {
    width: 100%;
  }
  .events-grid-container {
    width: 98%;
    left: 1%;
  }
  #logout-bar {
    margin-top: 5%;
    margin-bottom: 140%;
  }
}
@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../../assets/fonts/IBMPlexMono-Regular.otf") format("opentype");
}
@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../../assets/fonts/IBMPlexMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../../assets/fonts/IBMPlexMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../../assets/fonts/IBMPlexMono-Light.ttf") format("truetype");
}

/*# sourceMappingURL=index.css.map */
