:root {
  font-family: "IBMPlexMono-Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(31, 58, 72);
}

#title {
  font-family: monospace;
  font-size: 30px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: rgb(31, 58, 72);
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  box-sizing: border-box;
}

.about-page-card {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 5%;
  margin: 0 auto;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1);
  padding: 20px;
}
@media (any-pointer: coarse) {
  .about-page-card {
    width: 100%;
  }
}
.about-page-card .about-page-paragraph {
  gap: 20px;
  position: relative;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px));
}
.about-page-card .about-page-paragraph .card-container {
  box-shadow: 1px 1px 11px rgba(31, 58, 72, 0.3);
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid rgb(147, 147, 147);
}
.about-page-card .about-page-paragraph .card-container .title {
  margin-bottom: 0px;
  padding-left: 50px;
  font-size: 20px;
}
.about-page-card .about-page-paragraph .card-container .card {
  position: relative;
  padding: 10px;
}
.about-page-card .about-page-paragraph .card-container .card .paragraph {
  border: 1px solid rgb(131, 131, 131);
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-page-card .container-topbar {
  font-size: 12px;
}

.login-title {
  font-size: 20px;
  width: 80%;
  position: relative;
  margin-top: 10%;
  left: 10%;
  margin-bottom: -30px;
}

.login-container {
  border-radius: 10px;
  background-color: #ffffff;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.login-container .header {
  padding: 10px;
  border: 1px solid rgba(61, 61, 61, 0.109);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.login-container .login-form {
  border: 1px solid rgba(180, 180, 180, 0.613);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
.login-container .login-form input {
  text-align: center;
  width: 55%;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  margin: 11px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.paragraph {
  position: relative;
  width: 95%;
  left: 2.5%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(31, 58, 72);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(31, 58, 72);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
button {
  background-color: #f9f9f9;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

.main-content {
  gap: 60 px;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 12%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (any-pointer: coarse) {
  .main-content {
    top: 14%;
  }
}

.container-topbar {
  border: 1px solid rgba(61, 61, 61, 0.109);
  gap: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.container-topbar h2 {
  font-size: 20px;
}

.events-grid-container {
  background-color: #ffffff;
  border: 1px solid rgba(255, 0, 0, 0.109);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  width: 90%;
  left: 5%;
  box-shadow: 0 -10px 10px rgba(152, 152, 152, 0.1), 0 10px 10px rgba(152, 152, 152, 0.1);
  display: grid;
}
@media (any-pointer: coarse) {
  .events-grid-container {
    width: 98%;
    left: 1%;
  }
}
.events-grid-container .container-topbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.events-grid-container #events-grid {
  width: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.events-grid-container #title {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(130, 130, 130, 0.5);
}

.new-event-panel {
  border: 1px solid rgba(61, 61, 61, 0.109);
  display: grid;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#new-event-form {
  border: 1px solid black;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

#new-event-form label {
  font-size: 16px;
}

#new-event-form input[type=text],
#new-event-form input[type=date],
#new-event-form input[type=time],
#new-event-form textarea,
#new-event-form input[type=url] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}

#new-event-form input[type=checkbox] {
  margin-right: 10px;
  position: relative;
  right: 1%;
}

#new-event-form button {
  padding: 0.6em 1.2em;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-event-card {
  border: 1px solid rgb(0, 0, 0);
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

#buy-ticket-form {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
}

#logout-bar {
  width: 80%;
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 70%;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
}
@media (any-pointer: coarse) {
  #logout-bar {
    margin-top: 5%;
    margin-bottom: 140%;
  }
}

.event-card-large {
  border: 11px solid rgba(61, 61, 61, 0.109);
  border: 3px solid rgba(0, 0, 0, 0.109);
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  gap: 10px;
}
.event-card-large h1 {
  font-size: 40px;
}
.event-card-large .image-and-description {
  min-width: 80%;
  border: 3px solid rgba(0, 0, 0, 0.109);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 5px;
  gap: 10px;
}
.event-card-large .image-and-description .description {
  border: 3px solid rgba(0, 0, 0, 0.109);
  border-radius: 5px;
}
.event-card-large .image-and-description .image {
  margin: 0 auto;
  border-radius: 10px;
  height: 25vh;
  max-width: 50%;
}
.event-card-large .topbar {
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
}
.event-card-large .details-container {
  border: 1px solid rgba(61, 61, 61, 0.109);
}
.event-card-large .details-container .details-top {
  border: 1px solid rgba(61, 61, 61, 0.109);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.event-card-large .details-container .details-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(61, 61, 61, 0.109);
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../../assets/fonts/IBMPlexMono-Regular.otf") format("opentype");
}
@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../../assets/fonts/IBMPlexMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../../assets/fonts/IBMPlexMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../../assets/fonts/IBMPlexMono-Light.ttf") format("truetype");
}

/*# sourceMappingURL=index.css.map */
